.reviews {
  padding: 120px 0 0 0;

  @include vp-1199 {
    padding: 91px 0 100px 0;
  }
}

.reviews__swiper-container {
  position: relative;
  width: 49%;

  @include vp-1199 {
    width: 85%;
  }
}

.reviews__title {
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
  
}

.reviews__swiper-wrapper {
  display: flex;
  justify-content: center;
}

.reviews__swiper-slide {
  display: flex;
  gap: 28px;
  flex-grow: 0;
  padding: 62px;
  background-color: #1c3374;
}

.reviews__swiper-slide-name {
  color: $color-default-white;
  font-family: $ff-secondary;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.reviews__swiper-slide-text {
  color: $color-default-white;
  font-weight: 300;
  line-height: 150%;
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
  position: absolute;
  width: 56px;
  height: 56px;
  background: url("../img/svg/arrow-button.svg") no-repeat center center;
  top: 50%;
}

.reviews__swiper-button-prev {
  transform: rotate(180deg);
  left: -40px;
}

.reviews__swiper-button-next {
  right: -40px;
}
